@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
	box-sizing: border-box;
}

:root{
	--primary-color: #5072A7;
	--secondary-color: #002D62;
	--third-color: steelBlue;
}

body {
	background-color: var(--primary-color);
	font-family: 'Roboto' , sans-serif;
	margin: 0;
}

header{
	padding: 12px;
	
	background-color: var(--secondary-color);
}

.logo {
	font-size: 20pt;
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-family: 'oboto', sans-serif;
	padding: 0.5rem 0.5rem;
}

#form {
	display: flex;
	justify-content: space-between;
	padding-top: 0.2rem;
	padding: 10px;
	align-items: center;
	position: relative
}
	

.search{
	background-color: transparent;
	border: 2px solid var(--primary-color);
	padding: 0.5rem 1rem;
	border-radius: 50px;
	font-size: 1rem;
	color: #fff;
	font-family: inherit;
}
.search:focus{
	outline: 0;
	background-color: var(--primary-color);
}

.search::placeholder{
	color: #fff;
}

.searchButton{
	display: flex;
	align-items: center;
	background-color: var(--secondary-color);
    padding: 0.5rem;
	border: 1px solid var(--primary-color);
    border-radius: 70%;
    cursor: pointer;
	position: absolute;
	top: 18px;
	right: 15px;

}

.searchResult{
	font-family: 'oboto', sans-serif;
	margin-left: 1.5rem;
}
main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.movie{
	width: 300px;
	margin: 1rem;
	border-radius: 1px;
	box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
	background-color: var(--secondary-color);
	position: relative;
	overflow: hidden;
}

.movie img {
	width: 100%;
}

.movie-info{
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 0.5px;
	
}

.movie-info h3{
	margin-top: 0;
}

.movie-info span{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: var(--third-color);
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	font-weight: bold;
}

.movie-info span.green{
	color: lightgreen;
}

.movie-info span.orange{
	color: orange;
}

.movie-info span.red{
	color: red;
}

.overview{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background-color:#eee;
	padding:1rem;
	max-height:100%;
	transform:translateY(101%);
	transition:transform 0.3s ease-in;
}

.movie:hover .overview{
	transform:translateY(0);
}

#tags{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
}
h2{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffff4d;
	padding: 20px 0 10px 0;
	margin: 0;
	color: darkRed;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff4d;
  padding: 0 0 20px 0; /* 10px top padding, 20px bottom padding */
  margin: 0;
}
.tags{
	color: #fff;
	padding: 10px 15px;
	background-color: orange;
	border-radius: 50px;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}

.tags.highlight{
	background-color: red;
}

.no-result{
	color: white;
}

.pagination{
	display: flex;
	margin: 10px 10px;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.page {
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.numberPage.current{
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 20px red;
	padding: 20px;
}

.numberPage {
	padding: 20px;
	margin: 5px;
	font-size: 20px;
	cursor: pointer;
	background-color: black;
	border-radius: 50%;
}

@media screen and (max-width: 400px){
	#form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		position: relative;
	}
	
	.logo {
		font-size: 18pt;
		font-weight: bold;
		color: white;
		text-decoration: none;
		font-family: 'oboto', sans-serif;
		padding: 0.5rem 0.5rem;
	}
	.search{
		background-color: transparent;
		border: 2px solid var(--primary-color);
		padding: 0.5rem 1.3rem;
		border-radius: 50px;
		font-size: 1rem;
		color: #fff;
		font-family: inherit;
		margin-bottom: 10px;
		position: relative;
	}
	
	.searchButton{
		display: flex;
        	align-items: center;
        	justify-content: center; 
        	background-color: var(--secondary-color);
        	width: 30px;
        	height: 30px;
        	border: 1px solid var(--primary-color);
        	border-radius: 50%;
        	cursor: pointer;
        	position: absolute;
        	right: 21%; 
        	top: 65%; 
        	transform: translateY(-50%); 
	}
}

@media screen and (max-width: 320px){
	#form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		position: relative;
	}
	
	.logo {
		font-size: 18pt;
		font-weight: bold;
		color: white;
		text-decoration: none;
		font-family: 'oboto', sans-serif;
		padding: 0.5rem 0.5rem;
	}
	.search{
		background-color: transparent;
		border: 2px solid var(--primary-color);
		padding: 0.5rem 1.3rem;
		border-radius: 50px;
		font-size: 1rem;
		color: #fff;
		font-family: inherit;
		margin-bottom: 10px;
		position: relative;
	}
	
	.searchButton{
		display: flex;
        	align-items: center;
        	justify-content: center; /* Center the content horizontally and vertically */
        	background-color: var(--secondary-color);
        	width: 30px;
        	height: 30px;
        	border: 1px solid var(--primary-color);
        	border-radius: 50%;
        	cursor: pointer;
       	 	position: absolute;
       	 	right: 13%; 
        	top: 65%; 
        	transform: translateY(-50%); 
	}
}
